<% if(locals.breadcrumbs && locals.breadcrumbs.length) { %>
<h1>Lokacija</h1>
<nav aria-label="breadcrumb" class="d-inline-block m-2">
	<ol class="breadcrumb">
		<li><a href="?path=/"><i class="fa fa-home"></i></a></li>
		<% for (crumb of locals.breadcrumbs) { %>
		<li class="breadcrumb-item"><a href="?path=<%= crumb.path %>"><%= crumb.name %></a></li>
		<% } %>
	</ol>
</nav>
<% } %>