<div class="dirs" q="<%= locals.paramPath || '/' %>">
	<div class="d-flex flex-wrap m-2 dir-container">
		<template class="dir">
			<a href="#" class="btn btn-primary m-1 dir">
				<i class="fa fa-folder"></i>
			</a>
		</template>
	</div>
	<div class="text-center m-5 text-muted list-label">
		<i class="madeleine-spinner spinner-border"></i><br>
		<i class="fa fa-folder-open fa-3x mb-2 d-none"></i>
		<p class="dir-end">
		</p>
	</div>
</div>
<script type="module" src="/static/js/dirs.js">
</script>