<div class="dropdown">
	<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
		<span class="caret"></span></button>
	<ul class="dropdown-menu">
		<input class="form-control" id="myInput" type="text" placeholder="Search..">
		<a href="#" class="list-group-item">HTML</a>
		<a href="#" class="list-group-item">CSS</a>
		<a href="#" class="list-group-item">JavaScript</a>
		<a href="#" class="list-group-item">jQuery</a>
		<a href="#" class="list-group-item">Bootstrap</a>
		<a href="#" class="list-group-item">Angular</a>
	</ul>
</div>
<script src="/static/js/filter_list.js"></script>