<div class="photos" q="<%= locals.paramPath || '/' %>">
	<div class="m-2 grid gallery">
		<div class="grid-sizer"></div>
		<!-- Photo template -->
		<template class="photo">
			<div class="grid-item p-1">
				<div class="card p-2 photo-card">
					<div class="img-hover-zoom img-container">
						<!-- data-path class element will always be inflated with path to file on server -->
						<img alt="Image" data-path="">
						<div class="overlay m-2">
							<div class="img-hover-text">
								<span style="white-space: nowrap;">
									<i class="btn btn-danger fa fa-heart m-1 img-action-btn action-love"></i>
									<i class="btn btn-success fa fa-plus m-1 img-action-btn action-collection"></i>
									<i class="btn btn-info fa fa-tag m-1 img-action-btn action-tag"></i>
								</span>
							</div>
						</div>
						<i class="fa fa-heart heart m-3 d-none"></i>
						<div class="d-flex flex-wrap tags">
							<template class="badge">
								<div class="badge">Placeholder <i class="fa fa-times"></i></div>
							</template>
						</div>
					</div>
				</div>
			</div>
		</template>
	</div>
	<div class="text-center m-5 text-muted list-label">
		<i class="madeleine-spinner spinner-border"></i>
		<i class="fa fa-folder-open fa-3x no-content d-none"></i>
		<p class="gallery-end">
		</p>
	</div>
	<!-- <div class="spinner-border spinner-border-lg"> -->
</div>
</div>
<script type="module" src="/static/js/gallery.js"></script>