<nav class="navbar navbar-expand-lg navbar-dark sticky-top smart-scroll bg-primary">
	<button class="m-2 navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-toggler"
		aria-controls="navbar-toggler" aria-expanded="false" aria-label="Toggle navigation">
		<!-- <img src="/static/img/madeleine.png" class="logo"> -->
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbar-toggler">
		<a class="navbar-brand" href="/?path=/"><img src="/static/img/madeleine.png" class="logo mr-3">
			Madeleine</a>
		<% if(!locals.backBtn) { %>
		<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
			<li class="nav-item <%= locals.activeNavLink == '/' ? 'active' : '' %>">
				<a class="nav-link pl-3 pr-3" href="?path=/"><i class="fa fa-home"></i> Početna</a>
			</li>
			<li class="nav-item <%= locals.activeNavLink == '/profile' ? 'active' : '' %>">
				<a class="nav-link pl-3 pr-3" href="/profile">
					<span><i class="fa fa-user"></i> <%= locals.firstName %></span>
				</a>
			</li>
			<li class=" nav-item <%= locals.activeNavLink == '/collections' ? 'active' : '' %>">
				<a class="nav-link pl-3 pr-3" href="/collections"><span><i class="fa fa-heart"></i> Moje kolekcije</span></a>
			</li>
			<li class="nav-item <%= locals.activeNavLink == '/logout' ? 'active' : '' %>">
				<a class="nav-link pl-3 pr-3 logout" href="#"><i class="fa fa-sign-out"></i> Odjava</a>
			</li>
		</ul>
		<!-- <div class="input-group m-3 search">
			<div class="card input-group-prepend d-flex align-items-center justify-content-center">
				<i class="fa fa-search m-3"></i>
			</div>
			<input class="form-control" type="search" placeholder="Search" aria-label="Search">
			<div class="input-group-append">
				<button class="input-group-append btn btn-success" type="button">Search</button>
			</div>
		</div> -->
		<% } else { %>
		<a href="/" class="btn btn-primary mr-3 ml-3"><i class="fa fa-arrow-left"></i> Natrag</a>
		<% } %>
	</div>
</nav>
<script src="/static/js/nav.js">
</script>