body {
	--background-image: url('https://images.unsplash.com/photo-1494548162494-384bba4ab999?ixlib=rb-1.2.1&auto=format&fit=crop&w=1700&q=80');
}

.login-form {
	width: 400px;
	margin: 50px auto;
	font-size: 15px;
}

.login-form form {
	margin-bottom: 15px;
	padding: 30px;
}

.login-form h2 {
	margin: 0 0 15px;
}

.form-control,
.btn {
	min-height: 38px;
	border-radius: 2px;
}

.btn {
	font-size: 15px;
	font-weight: bold;
}

/* DEBUGGING CLASS */
.dbg {
	border: 1px solid red;
}

/* Responsive Image grid */

.grid-item {
	padding: 5px;
	height: auto;
	/* box-sizing: border-box; */
}

.photo-card {
	height: min-content;
}

@media (min-width: 500px) {
	.grid-item {
		width: 100%;
	}
	
	.content {
		margin-left: 10px;
		margin-right: 10px;
	}
}

@media (min-width: 800px) {
	.grid-item {
		width: 50%;
	}
	.content {
		margin-left: 50px;
		margin-left: 50px;
	}
}

@media (min-width: 1100px) {
	.grid-item {
		width: 33.33%;
	}
	.content {
		margin-left: 100px;
		margin-right: 100px;
	}
}

@media (min-width: 1500px) {
	.grid-item {
		width: 25%;
	}
	.content {
		margin-left: 120px;
		margin-right: 120px;
	}
}

.grid img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

/* COLLAPSE NAVBAR ON SCROLL */

.smart-scroll {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;
}

.scrolled-down {
	transform: translateY(-100%);
	transition: all 0.3s ease-in-out;
}

.scrolled-up {
	transform: translateY(0);
	transition: all 0.3s ease-in-out;
}

/* MADELEINE LOGO */
.logo {
	width: 50px;
	height: 50px;
	-webkit-filter: drop-shadow( 0 0 8px white);
	filter: drop-shadow( 0 0 8px white);
}

.logo-lg {
	width: 70px;
	height: 70px;
	-webkit-filter: drop-shadow( 0 0 8px white);
	filter: drop-shadow( 0 0 8px white);
}

/* ANNOYING DEFAULT HR COLOR */
hr {
	background: #fff2;
	border-width: 2px;
	width: 90%;
}
/* SEARCH DARK */
.search input {
	--background-color: slategrey;
}

/* DONT WRAP NAV ITEM TEXT */
li.nav-item {
	white-space: nowrap;
}

/*---- Image hover zoom ----*/
/* [1] The container */
.img-hover-zoom {
  /* height: 300px; [1.1] Set it as per your need */
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.1);
}


/* IMG OVERLAY */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* height: 100%; */
  /* width: 100%; */
  opacity: 0;
  transition: .3s ease;
  background-color: #000d;
}

.img-container:hover .overlay {
  opacity: 1;
}

.img-hover-text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.madeleine-heart {
	color: white;
	font-size: x-large;
	position: absolute;
	bottom: 0;
	right: 0;
}

.gallery-end, .dir-end {
	font-size: x-large;
}

.divider {
	display: block;
	margin-left: auto;
	margin-right: auto;
	opacity: 0.3;
}

.profile-pic {
	object-fit: cover;
	width: 100px;
	height: 100px;
}

.profile.card td {
	padding: 5px;
}
.profile.card td:nth-child(1) {
	text-align: end;
	color: gray;
}

/* Badge styles */
.madeleine-tags {
	margin: 15px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	opacity: 0.4;
  transition: .3s ease;
}

.madeleine-tags:hover {
	opacity: 1;
}

.madeleine-tags > .badge {
	font-size: medium;
	margin-bottom: 5px;
	margin-left: 3px;
	margin-right: 3px;
}

/* Remove badge btn */
.madeleine-tags > .badge > .fa-times:hover {
	cursor: pointer;
}


.madeleine-tags > .badge:first-child {
	margin-left: 0;
}

.madeleine-tags > .badge:last-child {
	margin-right: 0;
}

.breadcrumb, .dir, .nav-item {
	font-size: large;
}

.navbar-brand {
	font-size: xx-large;
}

.madeleine-photo-error-overlay {
	position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
	right: 0;
}

.madeleine-photo-error-overlay > * {
	font-size: x-large;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/*
body, h1, h2, h3, h4, p, .btn {
	font-weight: 250;
	font-family: "Open Sans";
}
*/

.madeleine-section-title {
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
	--font-weight: 200;
}