<div class="photos madeleine-gallery">
	<div class="madeleine-sections">
		<template class="madeleine-section-template">
			<!-- There can be multiple sections, e.g. sorted per months in a folder -->
			<div class="madeleine-section">
				<hr>
				<h2 class="madeleine-section-title"></h2>
				<div class="m-2 grid madeleine-section-body">
					<div class="grid-sizer"></div>
					<!-- Photos -->
				</div>
			</div>
		</template>
	</div>
	<div class="text-center m-5 text-muted list-label">
		<i class="madeleine-spinner spinner-border"></i>
		<i class="fa fa-photo fa-3x no-content"></i>
		<p class="gallery-end">
		</p>
	</div>
</div>