<!-- Madeleine Photo template -->
<div class="grid-item p-1 madeleine-photo">
	<div class="card p-2 photo-card">
		<div class="img-hover-zoom img-container">
			<img alt="Image" data-path="">
			<div class="overlay m-2">
				<div class="img-hover-text">
					<span class="madeleine-actions" style="white-space: nowrap;">
						<i class="btn btn-primary text-danger m-1 madeleine-btn madeleine-action-love"></i>
						<i class="btn btn-primary text-success m-1 madeleine-btn madeleine-action-add"></i>
						<i class="btn btn-primary text-info m-1 madeleine-btn madeleine-action-tag"></i>
					</span>
				</div>
			</div>
			<div class="d-none madeleine-photo-error-overlay">
				<div>
					<i class="fa fa-chain-broken fa-3x"></i>
					<p class="madeleine-photo-error-text"></p>
				</div>
			</div>
			<i class="madeleine-heart m-3"></i>
			<div class="d-flex flex-wrap madeleine-tags">
				<template class="tag">
					<div class="badge"><span class="label"></span> <i class="fa fa-times"></i></div>
				</template>
			</div>
		</div>
	</div>
</div>