<%- include('partial/header'); -%>
<%- include('partial/nav', {activeNavLink:'collections', backBtn: true }) -%>
<div class="m-5">
	<%- include('partial/alert') -%>
	<h1>Vaše kolekcije</h1>
</div>
<%- include('partial/footer'); -%>