<%- include('partial/header'); -%>
<%- include('partial/nav', { activeNavLink: 'home' }); -%>
<div class="content">
	<%- include('partial/alert') -%>
	<article>
		<%- include('partial/breadcrumbs') -%>
		<hr>
	</article>
	<article>
		<h1>Mape</h1>
		<%- include('partial/dirs') -%>
		<hr>
	</article>
	<article>
		<div class="d-flex justify-content-between">
			<h1>Galerija</h1>
			<div>
				<button class="btn btn-primary action-select">Označi više <i class="fa fa-check-circle"></i></button>
				<button class="btn btn-primary action-slideshow">Pokreni <i class="fa fa-play ml-2"></i></button>
				<button class="btn btn-primary action-lock">Zaključaj mapu <i class="fa fa-unlock ml-2"></i></button>
			</div>
		</div>
		<%# include('partial/gallery') %>
		<div class="madeleine-gallery-placeholder" madeleine-path="<%= locals.paramPath %>"></div>
	</article>
</div>
<%- include('partial/pswp') -%>
<script type="module" src="/static/js/home.js"></script>
<%- include('partial/footer'); -%>