<%- include('partial/header'); -%>
<div class="login-form">
	<form action="/login" method="POST" class="card">
		<img src="/static/img/madeleine.png" class="logo-lg mx-auto d-block">
		<h2 class="text-center">Madeleine Login</h2>
		<%- include('partial/alert') -%>
		<div class="form-group">
			<input name="user" type="text" class="form-control" placeholder="Username" required="required">
		</div>
		<div class="form-group">
			<input name="pass" type="password" class="form-control" placeholder="Password" required="required">
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-primary btn-block">Log in</button>
		</div>
		<div class="custom-control custom-switch">
			<input name="remember" type="checkbox" class="custom-control-input" id="switch">
			<label class="custom-control-label" for="switch">Zapamti me</label>
		</div>
	</form>
</div>
<%- include('partial/footer'); -%>