<%- include('partial/header'); -%>
<%- include('partial/nav', {activeNavLink:'profile', backBtn: true }) -%>
<div class="m-5 profile card p-3">
	<%- include('partial/alert') -%>
	<h1><span class="first-name">Bernard</span> <span class="last-name">Crnković</span></h1>
	<img class="rounded-circle profile-pic"
		src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/Cute_grey_kitten.jpg/1024px-Cute_grey_kitten.jpg">
	<table>
		<tr>
			<td>Ime</td>
			<td class="first-name"></td>
		</tr>
		<tr>
			<td>Prezime</td>
			<td class="last-name"></td>
		</tr>
		<tr>
			<td>Korisničko Ime</td>
			<td class="username"></td>
		</tr>
	</table>
	<button class="btn btn-primary">Promijeni lozinku</button>
</div>
<script src="/static/js/profile.js"></script>
<%- include('partial/footer'); -%>